<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<!-- Command Line Tool -->
	<Fragment>
		<ComponentGroup Id="CommandLineComponents">
			<ComponentRef Id="DmdExtExe"/>
			<ComponentRef Id="DmdExtLogConfig"/>
			<ComponentRef Id="Path"/>
		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="$(var.Console.TargetDir)">
			<!-- dmdext.exe -->
			<Component Id="DmdExtExe" Guid="{CAA01C63-A6C4-47A7-A803-E0EE97319062}">
				<File Id="DmdExtExeFile" Name="dmdext.exe" KeyPath="yes"/>
			</Component>

			<!-- dmdext.log.config -->
			<Component Id="DmdExtLogConfig" NeverOverwrite="yes" Guid="{7FAB5DED-3880-43AA-AD2D-CAE0AD49C902}">
				<File Id="DmdExtLogConfigFile" Name="dmdext.log.config" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<!-- PATH -->
		<DirectoryRef Id="TARGETDIR">
			<Component Id="Path" Guid="{AE6A7F21-7334-4B4C-84FE-973380C7F66F}">
				<Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" Permanent="no" Part="last" Action="set" System="yes" />
				<?if $(var.Platform)=x64?>
					<Condition><![CDATA[VersionNT=VersionNT64]]></Condition>
				<?else?>
					<Condition><![CDATA[VersionNT<>VersionNT64]]></Condition>
				<?endif?>
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- Pro Pinball Launcher -->
	<Fragment>
		<ComponentGroup Id="ProPinballLauncherComponents">
			<ComponentRef Id="ProPinballSlaveBat"/>
		</ComponentGroup>

		<!-- ProPinballSlave.bat -->
		<DirectoryRef Id="PROPINBALLFOLDER" FileSource="$(var.Console.ProjectDir)">
			<Component Id="ProPinballSlaveBat" Guid="{9AD7034F-F5AC-4326-86DC-B5E941C06B96}">
				<File Id="ProPinballSlaveBatFile" Name="ProPinballSlave.bat" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- DmdDevice -->
	<Fragment>
		<ComponentGroup Id="DmdDeviceComponents">
			<ComponentRef Id="DmdDeviceDll"/>
			<ComponentRef Id="DmdDeviceIni"/>
			<ComponentRef Id="DmdDeviceLogConfig"/>
			<ComponentRef Id="EnvConfigPath"/>
			<ComponentRef Id="Glass1"/>
			<ComponentRef Id="Glass2"/>
			<ComponentRef Id="Glass3"/>
			<ComponentRef Id="Glass4"/>
			<ComponentRef Id="Glass5"/>
			<ComponentRef Id="Glass6"/>
			<ComponentRef Id="Glass7"/>
			<ComponentRef Id="Broken1"/>
			<ComponentRef Id="Broken2"/>
			<ComponentRef Id="FrameGlass1"/>
			<ComponentRef Id="FrameGlass2"/>
			<ComponentRef Id="FrameGlass3"/>
			<ComponentRef Id="FrameMetal1"/>
			<ComponentRef Id="FrameMetal2"/>
			<ComponentRef Id="FrameMetal3"/>
			<ComponentRef Id="FrameMetal4"/>
			<ComponentRef Id="FrameBally"/>
		</ComponentGroup>

		<!-- DmdDevice.dll -->
		<DirectoryRef Id="VPMFOLDER" FileSource="$(var.PinMameDevice.TargetDir)">
			<Component Id="DmdDeviceDll" Guid="{7BE69575-CC08-444B-A2D0-FD3FF966F26A}">
				<?if $(var.Platform)=x64?>
					<File Id="DmdDeviceDllFile" Name="DmdDevice64.dll" KeyPath="yes"/>
				<?else?>
					<File Id="DmdDeviceDllFile" Name="DmdDevice.dll" KeyPath="yes"/>
				<?endif?>
			</Component>
		</DirectoryRef>

		<!-- DmdDevice.log.config -->
		<DirectoryRef Id="VPMFOLDER" FileSource="$(var.PinMameDevice.TargetDir)">
			<Component Id="DmdDeviceLogConfig" NeverOverwrite="yes" Guid="{0D3B8E51-E480-40EF-A089-15ED066DCC3C}">
				<File Id="DmdDeviceLogConfigFile" Name="DmdDevice.log.config" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<!-- DmdDevice.ini -->
		<DirectoryRef Id="VPMFOLDER" FileSource="$(var.PinMameDevice.ProjectDir)">
			<Component Id="DmdDeviceIni" NeverOverwrite="yes" Permanent="yes" Guid="{03203DEE-F83A-468A-802E-7D2E4279EC42}">
				<File Id="DmdDeviceIniFile" Name="DmdDevice.ini" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<!-- DMDDEVICE_CONFIG -->
		<DirectoryRef Id="TARGETDIR">
			<Component Id="EnvConfigPath" Guid="{F8EAE360-4372-4B85-AC7D-4D5ABF165E98}">
				<Environment Id="DMDDEVICE_CONFIG" Name="DMDDEVICE_CONFIG" Value="[VPMFOLDER]DmdDevice.ini" Permanent="yes" Part="last" Action="set" System="yes" />
			</Component>
		</DirectoryRef>

		<!-- textures -->
		<DirectoryRef Id="VPMGLASSTEXTUREFOLDER" FileSource="$(var.PinMameDevice.ProjectDir)data\textures\glasses">
			<Component Id="Glass1" Guid="{09AD3F92-BCC0-456D-A3B5-9C138D35FCEF}">
				<File Id="Glass1File" Name="glass1.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass2" Guid="{B212A16D-A556-459A-A329-A9DE9940FCC0}">
				<File Id="Glass2File" Name="glass2.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass3" Guid="{5DB0CC05-6081-48F0-BA10-BEA71133BF71}">
				<File Id="Glass3File" Name="glass3.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass4" Guid="{516D88B8-4474-40E3-973D-ACE682ED401B}">
				<File Id="Glass4File" Name="glass4.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass5" Guid="{EDD9A58F-A7D1-4A63-932A-53536FBC0FE8}">
				<File Id="Glass5File" Name="glass5.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass6" Guid="{5B2C8B03-4F4B-4F7D-ACC5-EA70864B340D}">
				<File Id="Glass6File" Name="glass6.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Glass7" Guid="{05CE0D3B-A2E4-4EF2-91BC-745E156DDD25}">
				<File Id="Glass7File" Name="glass7.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Broken1" Guid="{CF7B85A5-3212-42A1-BCEA-007BE0F4961B}">
				<File Id="Broken1File" Name="broken1.jpg" KeyPath="yes"/>
			</Component>
			<Component Id="Broken2" Guid="{FB277CDA-1017-4F18-B26E-EDC08C5BBAEB}">
				<File Id="Broken2File" Name="broken2.jpg" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="VPMFRAMESTEXTUREFOLDER" FileSource="$(var.PinMameDevice.ProjectDir)data\textures\frames">
			<Component Id="FrameGlass1" Guid="{06C932C9-C1E1-42BC-931C-E76AA16B7987}">
				<File Id="FrameGlass1File" Name="glass1.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameGlass2" Guid="{85D3FBAD-1F1A-4DB5-BAD0-BD2677992F24}">
				<File Id="FrameGlass2File" Name="glass2.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameGlass3" Guid="{5B134F99-CAE6-4407-A4EA-288767CB2DAA}">
				<File Id="FrameGlass3File" Name="glass3.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameMetal1" Guid="{4771E7F4-3A40-4B0B-BFA8-7B6B9A06A277}">
				<File Id="FrameMetal1File" Name="metal1.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameMetal2" Guid="{283C43F3-E672-4BEA-8261-0D7F0F02540E}">
				<File Id="FrameMetal2File" Name="metal2.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameMetal3" Guid="{9C4281AB-6C28-41A0-BB98-0EC51B291A25}">
				<File Id="FrameMetal3File" Name="metal3.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameMetal4" Guid="{1C5CCBE9-C011-4B66-B76E-F7EACC76CF2D}">
				<File Id="FrameMetal4File" Name="metal4.png" KeyPath="yes"/>
			</Component>
			<Component Id="FrameBally" Guid="{7B0D2613-83B8-4546-8394-72FD92E60DE4}">
				<File Id="FrameBallyFile" Name="bally.png" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

	<!-- FP OpenGL wrapper -->
	<Fragment>
		<ComponentGroup Id="FpOpenGlComponents">
			<ComponentRef Id="OpenGLDll"/>
		</ComponentGroup>

		<!-- OpenGL.dll -->
		<DirectoryRef Id="FPFOLDER" FileSource="$(var.LibDmd.ProjectDir)Input\FutureDmd">
			<Component Id="OpenGLDll" NeverOverwrite="yes" Guid="{1FE61A18-72EA-4A66-AD21-FA24DA75D61A}">
				<File Id="OpenGLDllFile" Name="OpenGL32.dll" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
	</Fragment>

</Wix>
