<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>

		<Directory Id="TARGETDIR" Name="SourceDir">

			<?if $(var.Platform)=x64?>
				<!-- Program Files folder -->
				<Directory Id="ProgramFiles64Folder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
				</Directory>
				<Directory Id="ProgramFilesFolder">
					<Directory Id="VPFOLDER" Name="Visual Pinball">
						<Directory Id="VPMFOLDER" Name="VPinMAME"/>
					</Directory>
				</Directory>
			<?else?>
				<!-- Program Files (x86) folder -->
				<Directory Id="ProgramFilesFolder">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductName)" />
					<Directory Id="VPFOLDER" Name="Visual Pinball">
						<Directory Id="VPMFOLDER" Name="VPinMAME"/>
					</Directory>
				</Directory>
			<?endif?>

		</Directory>

	</Fragment>
</Wix>
