<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

	<!-- Give product a unique ID per platform -->
	<?if $(var.Platform)=x64?>
		<?define ProductCode="{C4630A6F-9394-4567-9C71-C29A3A4743D2}"?>
	<?else?>
		<?define ProductCode="{E254BE4C-3E33-4B20-B4A2-F6A5661B1EEC}"?>
	<?endif?>

	<!-- Fixed upgrade ID -->
	<?define UpgradeCode="{B0F8A621-2DE2-445C-8425-8755ED25901B}"?>

	<!-- Define main product -->
	<Product 
		Id="$(var.ProductCode)" 
		Name="!(loc.ProductName) $(var.BuildVersion) !(loc.PlatformName_$(var.Platform))" 
		Language="!(loc.Language)" 
		Version="$(var.BuildVersion)"
		Manufacturer="!(loc.Manufacturer)" 
		UpgradeCode="$(var.UpgradeCode)">

		<!-- Provide package details -->
		<Package 
			InstallerVersion="200" 
			Compressed="yes" 
			InstallScope="perMachine"
			Platform="$(var.Platform)"
			Manufacturer="!(loc.Manufacturer)"
			Description="!(loc.Description)"
			Keywords="!(loc.Keywords)"
			Languages="!(loc.Language)" />

		<!-- Downgrade error message and pack settings -->
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate EmbedCab="yes"/>

		<!-- Use icon.ico as installer icon (shows up in add/remove programs) -->
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)icon.ico"/>
		<Property Id="ARPPRODUCTICON">icon.ico</Property>

		<!-- Help/Support website (shows up in add/remove programs) -->
		<Property Id="ARPURLINFOABOUT">https://github.com/freezy/dmd-extensions</Property>

		<!-- Create a basic UI for the installer -->
		<UIRef Id="WixUI_FeatureTree"/>
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Assets\gpl-2.0.rtf"/>
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Assets\background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Assets\banner.bmp"/>

		<!-- Command Line App feature -->
		<Feature 
				Id="CommandLineFeature" 
				Title="Command Line Tool"
				Description="For Pinball Arcade, Pro Pinball, Pinball FX3 or any other game you want to mirror the DMD from."
				Display="collapse"
				ConfigurableDirectory="INSTALLFOLDER"
				Level="1">

			<ComponentGroupRef Id="CommandLineComponents" />
		</Feature>

		<!-- DmdDevice.dll feature -->
		<Feature
				Id="DmdDeviceFeature"
				Title="Universal DmdDevice.dll"
				Description="Replace Visual PinMAME's standard DMD with a nicely rendered one that supports coloring."
				Display="collapse"
				ConfigurableDirectory="VPMFOLDER"
				Level="5">

			<ComponentGroupRef Id="DmdDeviceComponents" />
			<Condition Level="1"><![CDATA[NOT VPMFROMREG=0]]></Condition>
		</Feature>

		<!-- Pro Pinball batch file feature -->
		<Feature 
			Id="ProPinballFeature" 
			Title="Pro Pinball Launcher"
			Description="This adds a batch file to the Pro Pinball installation folder so you just need to enable it in Steam."
			Display="collapse"
			ConfigurableDirectory="PROPINBALLFOLDER"
			Level="5">

			<ComponentGroupRef Id="ProPinballLauncherComponents" />
			<Condition Level="1"><![CDATA[NOT PROPINBALLDIR=0]]></Condition>
		</Feature>

		<!-- FP: OpenGL.dll feature -->
		<Feature
				Id="FpOpenGlFeature"
				Title="Future Pinball"
				Description="Add an OpenGL wrapper for Future Pinball that sends DMD frames to dmdext."
				Display="collapse"
				ConfigurableDirectory="FPFOLDER"
				Level="5">

			<ComponentGroupRef Id="FpOpenGlComponents" />
			<Condition Level="1"><![CDATA[NOT FPFROMREG=0]]></Condition>
		</Feature>

		<!-- Retrieve VPM, FP and Pro Pinball folder from registry -->
		<Property Id="VPMFROMREG" Value="0" Secure="yes"/>
		<Property Id="PROPINBALLDIR" Value="0" Secure="yes"/>
		<SetProperty Id="VPMFOLDER" Sequence="ui" Value="[VPMFROMREG]" After="FindVpmAction">NOT VPMFROMREG=0</SetProperty>
		<SetProperty Id="PROPINBALLFOLDER" Sequence="ui" Value="[PROPINBALLDIR]" After="FindProPinballAction">NOT PROPINBALLDIR=0</SetProperty>
		<SetProperty Id="FPFOLDER" Sequence="ui" Value="[FPFROMREG]" After="FindFpAction">NOT FPFROMREG=0</SetProperty>
		<InstallUISequence>
			<Custom Action="FindVpmAction" After="AppSearch" />
			<Custom Action="FindProPinballAction" After="AppSearch" />
			<Custom Action="FindFpAction" After="AppSearch" />
		</InstallUISequence>

		<!-- Check for Vista and above -->
		<Condition Message="!(loc.OsErrorMessage)">
			<![CDATA[Installed OR (VersionNT >= 600)]]>
		</Condition>

		<!-- Check for .NET -->
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED"/>
		<Condition Message="!(loc.DotNetErrorMessage)">
			<![CDATA[Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED]]>
		</Condition>

	</Product>

</Wix>
